@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 4% 16%;
    --foreground: 0 0% 98%;
    --card: 220 4% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 220 4% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 88% 66%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 4% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 4% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 259 100% 89%;
    --accent-foreground: 220 4% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 4% 25%;
    --input: 220 4% 25%;
    --ring: 256 88% 70%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 4% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 256 88% 66%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 259 100% 89%;
    --sidebar-accent-foreground: 220 4% 10%;
    --sidebar-border: 220 4% 25%;
    --sidebar-ring: 256 88% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
